p {
  font-family: Lato;
}
.rounded-circle{
height: 50px;
width: 50px;
float: left;
}
footer {
  max-width: auto;
  height: 300px;
  background-color: ;
}

# {
  padding-left:30rem;
}
.parallax {
  background-image: url("https://i.pinimg.com/originals/4f/2f/7d/4f2f7d2aa8582dcca07ca3eb600e922b.png");
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
label {
  color: white
}
